@using ABC.Shared.Models
@using Layout
@page "/StockTransfersList"
@layout AdminLayout

<PageTitle>ABC - Stock Transfers</PageTitle>

<section class="container pt-2 pb-5">
    <div class="row pb-3">
        <!-- Title -->
        <div class="col-8 text-start mb-3 mb-sm-0">
            <h1>Stock Transfers</h1>
        </div>
    </div>

    <!-- Stock Transfers Table -->
    <table class="table table-hover table-sm mt-3">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">TimeStamp</th>
                <th scope="col">Location From</th>
                <th scope="col">Location To</th>
                <th scope="col">Entry By</th>
                <th scope="col">Total</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>    
        </tbody>
    </table>

</section>


