@using ABC.Shared.Models
@page "/About"

<link href="About.razor.css" rel="stylesheet" />

<PageTitle>About Us</PageTitle>

<section class="container mt-3 mb-5 FooterminHeight">
    <div class="row">
        <h1>About Us</h1>
    </div>

    <div class="row">
        <span>
            @content.About
        </span>
    </div>

</section>
