.FooterminHeight {
    min-height: calc(100vh - 395px);
}

h3, p {
    color: var(--maincolor-darkblue--);
    text-align: center;
}

.card {
    width: 100%;
}

    .card:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.btn {
    background-color: var(--maincolor-darkblue--);
    color: #ffffff;
}

    .btn:hover {
        background-color: var(--maincolor-darkblue--);
        color: #ffffff;
    }

