@page "/Shop"

@rendermode InteractiveServer
@using ABC.Shared.Models

<PageTitle>ABC - Shop</PageTitle>

<section class="container mt-4 mb-5 FooterminHeight">
	<div class="input-group flex-nowrap my-5">
		<input type="text" class="form-control" @bind-value="ProductSearchInput" @oninput="GetProductList" aria-label="Search Product" placeholder="Search..."/>
	</div>
	<div class="row my-4">
		@if (ProductList != null && ProductList.Any())
		{
			@foreach (var product in ProductList)
			{
				<div class="col-md-3 mb-3">
					<div class="card h-100 mx-auto">
						<a href="ProductDetails?product=@product.productName&id=@product.Id" class="a-style-none">
							<img src="@product.ImageUrl" class="card-img-top">
							<div class="card-body d-flex flex-column">
								<h3 class="card-title mb-5 h-50 fw-bold">@product.productName</h3>
								<div class="d-flex justify-content-between">
									<p class="card-text mb-0 fw-bold">Php @product.RetailPrice</p>
									<p class="card-text mb-0">@product.StockQuantity left</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			}
		} else
		{
			<h3 class="text-center">No products to show</h3>
		}
	</div>
</section>