.FooterminHeight[b-mzk551kdqx] {
    min-height: calc(100vh - 395px);
}

h3[b-mzk551kdqx], p[b-mzk551kdqx] {
    color: var(--maincolor-darkblue--);
    text-align: center;
}

.card[b-mzk551kdqx] {
    width: 100%;
}

    .card:hover[b-mzk551kdqx] {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.btn[b-mzk551kdqx] {
    background-color: var(--maincolor-darkblue--);
    color: #ffffff;
}

    .btn:hover[b-mzk551kdqx] {
        background-color: var(--maincolor-darkblue--);
        color: #ffffff;
    }
