@using ABC.Shared.Models
@using Layout
@layout AdminLayout
@page "/DeletePO"

<section class="container">
    <form method="post">
        <input asp-for="Id" hidden />
        <!--New Product-->
        <div class="row pt-4 pb-3" id="topbar">
            <!-- Title -->
            <div class="col-lg-10 col-sm-12 text-start mb-3 mb-sm-0">
                <h2 class="text-primary">New PO</h2>
            </div>


            <!-- Delete Button -->
            <div class="col-lg-2 col-sm-6 text-end mb-3 mb-sm-0">
                <button type="submit" class="btn btn-danger"><i class="bi bi-trash-fill"></i> Delete</button>
            </div>
        </div>

        <!--Breadcrumb-->
        <div class="row pb-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="PurchaseOrders">Purchase Orders</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Delete</li>
                </ol>
            </nav>
        </div>

        <!-- Information -->
        <div class="row pb-2">
            <div class="col-12">
                <div class="border p-3 container shadow">
                    <!-- Title -->
                    <div class="row pb-2">
                        <h4 class="text-primary">Information</h4>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <label asp-for="SupplierName" class="input-group-text" for="supplier-name"></label>
                                <select asp-for="SupplierName" class="form-select" id="supplier-name" disabled>
                                    <option>Supplier 1</option>
                                    <option>Supplier 2</option>
                                    <option>Supplier 3</option>
                                    <option>Supplier 4</option>
                                    <option>Supplier 5</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label asp-for="ShipmentPreference" class="input-group-text" for="shipment-preference"></label>
                                <select asp-for="ShipmentPreference" class="form-select" id="shipment-preference" disabled>
                                    <option>Shipment Preference 1</option>
                                    <option>Shipment Preference 2</option>
                                    <option>Shipment Preference 3</option>
                                    <option>Shipment Preference 4</option>
                                    <option>Shipment Preference 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <label asp-for="PaymentTerm" class="input-group-text" for="payment-term"></label>
                                <select asp-for="PaymentTerm" class="form-select" id="payment-term" disabled>
                                    <option>Payment Term 1</option>
                                    <option>Payment Term 2</option>
                                    <option>Payment Term 3</option>
                                </select>
                            </div>

                            <div class="input-group mb-3">
                                <label asp-for="ExpectedDeliveryDate" class="input-group-text" id="ExpectedDeliveryDate"></label>
                                <input asp-for="ExpectedDeliveryDate" class="form-control" aria-describedby="ExpectedDeliveryDate" disabled>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-group mb-3">
                            <label asp-for="LocationDelivery" class="input-group-text" id="LocationDelivery"></label>
                            <input asp-for="LocationDelivery" type="text" class="form-control" aria-describedby="LocationDelivery" disabled>
                        </div>
                    </div>

                    <div class="row">
                        <h5 class="text-primary">Contact Person</h5>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <label asp-for="EmployeeName" class="input-group-text" id="employee-name"></label>
                                <input asp-for="EmployeeName" type="text" class="form-control" aria-describedby="employee-name" disabled>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="input-group mb-3">
                                <label asp-for="ContactNumber" class="input-group-text" id="contact-number"></label>
                                <input asp-for="ContactNumber" type="tel" class="form-control" aria-describedby="contact-number" disabled>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Product/s to adjust stock-->
        <div class="row pb-2">
            <div class="col-12">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
                        <h4 class="text-primary">Product/s to adjust stock</h4>
                        <hr />
                    </div>

                    <div class="row pb-2">
                        <!-- Add -->
                        <div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0">
                            <a class="btn btn-success" href="#" role="button">
                                <i class="bi bi-plus-square"></i> Add
                            </a>
                        </div>

                        <!-- Scan Barcode -->
                        <div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0">
                            <a href="#" class="btn btn-primary">
                                <i class="bi bi-upc"></i> Scan Barcode
                            </a>
                        </div>

                        <div class="col-10"></div>
                    </div>
                </div>
            </div>
        </div>

        <!--Additional Note-->
        <div class="row pb-2">
            <div class="col-12">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
                        <h4 class="text-primary">Additional Note</h4>
                        <hr />
                    </div>

                    <div class="row">
                        <div class="input-group mb-3">
                            <textarea asp-for="AdditionalNote" class="form-control" style="height: 100px" disabled></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Back on top Button -->
        <div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0 position-fixed" style="bottom: 20px; right: 20px;">
            <!-- Back Button -->
            <a href="#" class="btn btn-secondary rounded-circle">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </form>
</section>