h1[b-nvhbmpqe2u] {
    color: #223442;
    font-weight: bold;
    padding-bottom: 1em;
}

.btn[b-nvhbmpqe2u] {
    background-color: #223442;
    color: white;
}

    .btn:hover[b-nvhbmpqe2u] {
        background-color: #223442;
        color: white;
    }
