@using ABC.Shared.Models
@page "/CategoryIndex"

<div class="container">
	<div class="row pt-4 pb-3">

		<!--Title-->
		<div class="col-6">
			<h1 style="color: #223442;"><b>Category List</b></h1>
		</div>

		<!--button to Create Page-->
		<div class="col-6 text-end">
			<a asp-controller="Category" asp-action="Create" class="btn btn-outline-primary">
				<i class="bi bi-plus-circle"></i> Add Category
			</a>
		</div>
	</div>


	<table class="table table-bordered table-striped table-hover">
		<thead>
			<tr>
				<th>
					Category Name
				</th>
				<th>
					Display Order
				</th>
				<th>

				</th>
			</tr>
		</thead>


		<!--Display data from database-->
		<tbody>
			@*@foreach (var obj in Model.OrderBy(o => o.DisplayOrder))
			{
				<tr>
					<td>@obj.Name</td>
					<td>@obj.DisplayOrder</td>
					<td>
						<div class="w-75 btn-group" role="group">
							<a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-dark btn-sm">
								<i class="bi bi-pencil-square"></i> Edit
							</a>
						</div>
					</td>

					<td>
						<div class="w-30 btn-group" role="group">
							<a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger btn-sm">
								<i class="bi bi-trash-fill"></i> Delete
							</a>
						</div>
					</td>

				</tr>
			}*@
		</tbody>

	</table>
</div>

@code {

}
