@using ABC.Shared.Models
@page "/Category"
@page "/CategoryCreate"
@page "/CategoryDelete"
@page "/CategoryEdit"


@if(NavManager.Uri.ToLower().Contains("categorycreate")){
	<CategoryCreate />
}else if(NavManager.Uri.ToLower().Contains("categorydelete")){
	<CategoryDelete />
}else if(NavManager.Uri.ToLower().Contains("categoryedit")){
	<CategoryEdit />
}else{
	<section class="container pt-2 pb-5">
		<div class="row pb-2">
			<!--Title-->
			<div class="col-6">
				<h1 style="color: #223442;"><b>Category List</b></h1>
			</div>

			<!--button to Create Page-->
			<div class="col-6 text-end">
				<a href="CategoryCreate" class="btn btn-outline-primary">
					<i class="bi bi-plus-circle"></i> Add Category
				</a>
			</div>
		</div>

		<!--Breadcrumb-->
		<div class="row pb-3">
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="ProductList">Product List</a></li>
					<li class="breadcrumb-item active" aria-current="page">Category List</li>
				</ol>
			</nav>
		</div>

		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>
						Category Name
					</th>
					<th>
						Display Order
					</th>
					<th>

					</th>
				</tr>
			</thead>


			<!--Display data from database-->
			<tbody>
				@*@foreach (var obj in Model.OrderBy(o => o.DisplayOrder))
				{
					<tr>
						<td>@obj.Name</td>
						<td>@obj.DisplayOrder</td>
						<td>
							<div class="w-75 btn-group" role="group">
								<a href="CategoryEdit" class="btn btn-outline-dark btn-sm">
									<i class="bi bi-pencil-square"></i> Edit
								</a>
							</div>
						</td>

						<td>
							<div class="w-30 btn-group" role="group">
								<a href="CategoryDelete" class="btn btn-outline-danger btn-sm">
									<i class="bi bi-trash-fill"></i> Delete
								</a>
							</div>
						</td>

					</tr>
				}*@
			</tbody>

		</table>
	</section>
}
@code {
	[Inject] NavigationManager NavManager { get; set; }

}
