h1 {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.title {
    text-align: left;
}

.fixed-width-table th,
.fixed-width-table td {
    width: 5px;
    white-space: nowrap;
}