.footer[b-f6umzgygo0] {
    background-color: var(--maincolor-darkblue--);
}

.title[b-f6umzgygo0] {
    letter-spacing: 2px;
    color: #968C37;
    font-weight: bold;
}

.copyright[b-f6umzgygo0] {
    background-color: #1E2E3B;
    color: #968C37;
}


.stacked-spans[b-f6umzgygo0] {
    display: block;
}

@media (max-width: 768px) {
    .img-fluid[b-f6umzgygo0] {
        width: 50% !important;
        margin-bottom: 1em;
    }
}