.card {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1 {
    color: #223442;
    font-weight: bold;
}

.btn {
    border-radius: 30px;
    background-color: #223442;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top:1rem;
}

    .btn:hover {
        border-radius: 30px;
        background-color: white;
        color: #223442;
        border-color: #223442;
        font-weight: bold;
    }

.agreementText {
    font-size: 15px;
    text-align: center;
}
