<div class="modal fade" id="feesModal" tabindex="-1" aria-labelledby="feesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="feesModalLabel">Fees</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="modal-body">
                    <div class="row pt-2 pb-1">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Service Fee</span>
                            </div>
                            <input type="number" class="form-control" id="service-fee-input" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                            <button class="btn btn-primary" type="button" id="button-service"
                                onclick="calculateTotalCharge()"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                    <div class="row pt-2 pb-1">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Delivery Fee</span>
                            </div>
                            <input type="number" class="form-control" id="delivery-fee-input" aria-label="Default"
                                aria-describedby="inputGroup-sizing-default">
                            <button class="btn btn-primary" type="button" id="button-del"
                                onclick="calculateTotalCharge()"><i class="bi bi-plus"></i></button>
                        </div>
                    </div>
                    <div class="row pt-4 pb-4 text-center">
                        <p>Charge to be added in the total amount is:</p>
                        <input type="text" class="form-control btncustom-width" id="total-charge-display" readonly>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Apply Fees</button>
            </div>
        </div>
    </div>
</div>