.min-height {
    min-height: 300px;
}

.bestseller .title{
    margin-top: 2rem;
}

.button {
    background-color: #223442;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

h1 {
    color: #223442;
    font-weight: bold;
}

.card-title {
    color: #223442;
    font-weight: 700;
}

.card-img-overlay {
    background-color: #ffffff;
    border: none;
}

.card .btn-link {
    background-color: transparent;
    color: #223442;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

.bestseller {
    width: 100%;
}