@using ABC.Shared.Models
@page "/"

<PageTitle>ABC - Home</PageTitle>

<section class="container my-lg-5">
    <section class="banner rounded text-center my-5 p-5 d-flex align-items-center min-height">
        <div class="position-relative text-center mx-auto">
            <h1 class="col-auto text-white">Elevate Your Tech Experience</h1>
            <p class="col-auto text-white">Discover. Upgrade. Secure.</p>
            <a href="shop" class="button btn-lg rounded p-2">Shop Now</a>
        </div>
    </section>
    <section class="row mt-5 mb-5">
        <div class="text-center">
            <h2>Explore and shop by category</h2>
        </div>
        <div class="row">
            <div class="col-md-3 mb-3 g-4 mb-md-0">
                <div class="card h-100 text-center text-decoration-none d-flex align-items-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a href="Shop" class="stretched-link">
                            <h6 class="btn btn-link">Security Cameras</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 g-4 mb-md-0">
                <div class="card h-100 text-center text-decoration-none d-flex align-items-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a class="stretched-link">
                            <h6 class="btn btn-link">Computer Accessories</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 g-4 mb-md-0">
                <div class="card h-100 text-center text-decoration-none d-flex align-items-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a class="stretched-link">
                            <h6 class="btn btn-link">Mobiles & Gadgets</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3 g-4 mb-md-0">
                <div class="card h-100 text-center text-decoration-none d-flex align-items-center">
                    <div class="card-body d-flex flex-column justify-content-center">
                        <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            <h6 class="btn btn-link">See more</h6>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Category Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-md modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title fs-5" id="staticBackdropLabel">Other Categories</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        @if (Categories != null && Categories.Any())
                        {
                            <div class="list-group">
                                @foreach (var category in Categories.OrderBy(c => c.Id))
                                {
                                    <a href="#" class="list-group-item list-group-item-action">
                                        @category.Name
                                    </a>
                                }
                            </div>
                        }
                        else
                        {
                            <p>No categories were found</p>
                        }
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="row mt-5 mb-5">
        <div class="text-center">
            <h2>Best Selling Items</h2>
            <p>Elevate your experience!</p>
        </div>
        <div class="col-md-4 g-4">
            <div class="card">
                <img src="/Image/sample.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title mb-5 h-50 fw-bold text-center">Product Name</h3>
                    <div class="d-flex justify-content-between">
                        <p class="card-text mb-0 fw-bold">Php 0.00</p>
                        <p class="card-text mb-0">Stock left</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 g-4">
            <div class="card">
                <img src="/Image/sample.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title mb-5 h-50 fw-bold text-center">Product Name</h3>
                    <div class="d-flex justify-content-between">
                        <p class="card-text mb-0 fw-bold">Php 0.00</p>
                        <p class="card-text mb-0">Stock left</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 g-4">
            <div class="card">
                <img src="/Image/sample.png" class="card-img-top" alt="...">
                <div class="card-body d-flex flex-column">
                    <h3 class="card-title mb-5 h-50 fw-bold text-center">Product Name</h3>
                    <div class="d-flex justify-content-between">
                        <p class="card-text mb-0 fw-bold">Php 0.00</p>
                        <p class="card-text mb-0">Stock left</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @* <section class="row my-lg-5 text-center">
        <div class="title">
            <h2>Best Selling Items</h2>
            <p>Elevate your experience!</p>
        </div>

        <div class="row">
            <div class="col-md-3 p-1">
                <div class="card w-100 mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card w-100 mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card w-100 mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 p-1">
                <div class="card w-100 mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <a role="button" class="button btn-lg" href="Shop">Shop now <i class="bi bi-arrow-right"></i></a>
        </div>
    </section> *@

    <br />
</section>
