@using ABC.Shared.Models
@page "/"

<PageTitle>ABC - Home</PageTitle>

<link href="Home.razor.css" rel="stylesheet" />

<section class="container my-lg-5">
    <section class="bg-secondary rounded text-center my-5 p-5 min-height">
        <h1 class="col-auto text-white">Elevate Your Tech Experience</h1>
        <p class="col-auto text-white">Discover. Upgrade. Secure.</p>
        <a href="shop" class="button btn-lg rounded p-2">Shop Now</a>
    </section>
    <section class="row mt-5 mb-5">
        <div class="text-center">
            <h1>
                Shop by Category
            </h1>
        </div>
        <div class="card-group">
            <div class="category card">
                <img src="/image/Cctv.png" class="card-img-top" alt="CCTV">
                <div class="card-body text-center">
                    <h3 class="card-title">CCTV</h3>
                    <p class="card-text">Short description</p>
                </div>
            </div>
            <div class="card">
                <img src="/image/Computer.png" class="card-img-top" alt="Computer accessories">
                <div class="card-body text-center">
                    <h3 class="card-title">Computer Accessories</h3>
                    <p class="card-text">Short description</p>
                </div>
            </div>
            <div class="card">
                <img src="/image/wires_cables.png" class="card-img-top" alt="Wires & Cables">
                <div class="card-body text-center">
                    <h3 class="card-title">Wires & Cables</h3>
                    <p class="card-text">Short description</p>
                </div>
            </div>
            <div class="card">
                <div class="card-img-overlay d-flex justify-content-center align-items-center">
                    <a class="stretched-link" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        <h4 class="btn btn-link">See More</h4>
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-md modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title fs-5" id="staticBackdropLabel">Other Categories</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    @* <ul>
                                    <li>category 1</li>
                                    <li>category 2</li>
                                    </ul> *@
                                    @if (Categories != null)
                                    {
                                        <ul>
                                            @foreach (var category in Categories)
                                            {
                                                <li>@category</li>
                                            }
                                        </ul>
                                    }
                                    else
                                    {
                                        <p>No other categories were found</p>
                                    }
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bestseller row my-lg-5 align-items-center text-center">
        <div class="title">
            <h1>Best Selling Items</h1>
            <p>Elevate your experience!</p>
        </div>

        <div class="row mx-auto">
            <div class="col-md-3 mb-3">
                <div class="card bestseller mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bestseller mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bestseller mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card bestseller mx-auto">
                    <img src="/Image/sample.png" class="card-img-top" alt="...">
                    <div class="card-body text-center">
                        <h3 class="card-title">Card title</h3>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="my-4">
            <a role="button" class="button btn-lg" href="Shop">Shop now <i class="bi bi-arrow-right"></i></a>
        </div>
    </section>

    <br />
</section>

@code {
    private List<Category> Categories { get; set; }
}