.min-height[b-sykuksvrf0] {
    min-height: 300px;
}

a[b-sykuksvrf0] {
    background-color: #223442;
    color: #ffffff;
    font-weight: bold;
}

h2[b-sykuksvrf0] {
    color: #223442;
    font-weight: bold;
}

.card-title[b-sykuksvrf0] {
    color: #223442;
    font-weight: 700;
}

.card-img-overlay[b-sykuksvrf0] {
    background-color: #D3D3D3;
}
