.min-height[b-sykuksvrf0] {
    min-height: 33rem;
}

.banner[b-sykuksvrf0] {
    background-image: url('image/banner.png');
    background-position: bottom;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 6rem;
}

    .banner h1[b-sykuksvrf0], .banner p[b-sykuksvrf0] {
        color: white;
    }

.title[b-sykuksvrf0] {
    margin-top: 2rem;
}

.button[b-sykuksvrf0] {
    background-color: var(--maincolor-darkblue--);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

h1[b-sykuksvrf0], h2[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

h3[b-sykuksvrf0], p[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    text-align: center;
}

.min-height-section[b-sykuksvrf0] {
    min-height: 300px;
}

.productcard[b-sykuksvrf0] {
    width: 100%;
}

    .productcard:hover[b-sykuksvrf0] {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.card-title[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    font-weight: 700;
}

.card-img-overlay[b-sykuksvrf0] {
    background-color: #ffffff;
    border: none;
}

.card .btn-link[b-sykuksvrf0] {
    background-color: transparent;
    color: var(--maincolor-darkblue--);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
