@using ABC.Shared.Models
@using Layout
@page "/ProductUpsert"
@layout AdminLayout

<PageTitle>ABC - Add Product</PageTitle>

<section class="container mb-5">
    <form method="post" id="myForm" enctype="multipart/form-data">
        <input asp-for="Product.Id" hidden/>
        <input asp-for="Product.ImageUrl" hidden/>

        <!--New Product-->
        <div class="row pt-2 pb-1" id="topbar">
            <!-- Title -->
            <div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
                <h1 style="color: #223442;"><b>@*@(Model.Product.Id != 0 ? "Edit" : "Create")*@ Product</b></h1>
            </div>

            <!-- Save Button -->
            <div class="col-lg-2 col-sm-6 text-end mb-3 mb-sm-0">
                @*
                @if(Model.Product.Id != 0)
                {
                    <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Update</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success"><i class="bi bi-floppy"></i> Save</button>
                }*@
            </div>

            <!-- Save as draft Button -->
            <div class="col-lg-2 col-sm-6 text-end mb-3 mb-sm-0">
                <a href="#" class="btn btn-primary">
                    <i class="bi bi-floppy"></i> Save as draft
                </a>
            </div>
        </div>

        <!--Breadcrumb-->
        <div class="row pb-2">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="ProductList">Product List</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@*@(Model.Product.Id != 0 ? "Update" : "Create")*@ List</li>
                </ol>
            </nav>
        </div>

        <!--Product Images-->
        <section class="row pb-4">
            <div class="col-12">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
                        <h4 style="color: #223442;"><b>Product Image</b></h4>
                        <hr />
                    </div>

                    <!--Product Images-->
                    <div class="row">
                        <div class="col-4">
                            <label id="formFileone" class="form-label"><span class="text-muted">Upload new image to remove the current image</span> </label>
                            <input type="file" name="file" class="form-control" aria-describedby="formFileone">
                        </div>

                        <div class="col-8">
                            @*<img src="@Model.Product.ImageUrl" alt="Image" class="rounded" width="30%" style="border-radius: 5px; border: 1px solid #bbb9b9;">*@
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Product Information-->
        <section class="row pb-3">
            <div class="col-12">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
                        <h4 style="color: #223442;"><b>Product Information</b></h4>
                        <hr />
                    </div>

                    <!--Barcode & SKU-->
                    <div class="row">
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="BarcodeInput" id="BarcodeLabel">Barcode</label>
                                <input @* @bind="product.Barcode" *@ type="text" class="form-control" id="BarcodeInput" aria-describedby="BarcodeLabel">
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="SKU-Input" id="SKULabel">SKU</label>
                                <input @* @bind="product.SKU" *@ type="text" class="form-control" id="SKU-Input" aria-describedby="SKULabel">
                            </div>
                        </div>
                    </div>

                    <!--Product Name-->
                    <div class="row">
                        <span class="text-danger">@*@validationMessage*@</span>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="ProductName" id="NameLabel">Product Name</label>
                            <input @* @bind="product.productName" *@ type="text" class="form-control" id="ProductName" aria-describedby="NameLabel">
                        </div>
                    </div>

                    <!--Cost and retail price-->
                    <div class="row">
                        <!--Cost Price-->
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="CostPrice" id="CostPriceLabel">Cost Price</label>
                                <input @* @bind="product.CostPrice" *@ type="text" class="form-control" id="CostPrice" aria-describedby="CostPriceLabel">
                            </div>
                        </div>

                        <!--Retail Price-->
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="RetailPrice" id="RetialPriceLabel">Retail Price</label>
                                <input @* @bind="product.RetailtPrice" *@ type="text" class="form-control" id="RetailPrice" aria-describedby="RetialPriceLabel">
                            </div>
                        </div>
                    </div>
                    <!--Description-->
                    <div class="row mb-4">
                        <span class="text-danger">@*@validationMessage*@</span
                        <div class="input-group mb-3">
                            <span class="input-group-text">Description</span>
                            <textarea @* @bind="product.Description" *@ type="text" class="form-control" aria-label="Description"></textarea>
                        </div>
                    </div>

                    <!--Category & brand-->
                    <div class="row">
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Category" id="CategoryLabel">Category</label>
                                <select @* @bind="product.CategoryId" *@ class="form-select" aria-describedby="Category">
                                    <option value="" disabled selected>Select Category</option>
                                        @* @foreach (var category in Categories)
                                        {
                                            <option value="@category.Value">@category.Name</option>
                                        } *@
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Brand" id="BrandLabel">Brand</label>
                                <input @* @bind="product.Brand" *@ type="text" class="form-control" id="Brand" aria-describedby="BrandLabel">
                            </div>
                        </div>
                    </div>

                    <!--Supplier & Location of the Product-->
                    <div class="row">
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Supplier" id="SupplierLabel">Supplier</label>
                                <select @* @bind="product.SupplierId" *@ type="text" class="form-select" aria-describedby="Supplier">
                                    <option disabled selected>Select Supplier</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Location" id="LocationLabel">Location</label>
                                <input @* @bind="product.Location" *@ type="text" class="form-control" aria-describedby="Warehouse">
                            </div>
                        </div>
                    </div>

                    <!--Warranty-->
                    <div class="row">
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Warranty" id="WarrantyName">Warranty Name</label>
                                <input @* @bind="product.WarrantyName" *@ type="text" class="form-control" aria-describedby="WarrantyName">
                            </div>
                        </div>
                        <div class="col-6">
                            <span class="text-danger">@*@validationMessage*@</span>
                            <div class="input-group mb-3">
                                <label class="input-group-text" for="Warranty" id="WarrantyDuration">Duration</label>
                                <input @* @bind="product.WarrantyDuration" *@ type="text" class="form-control" aria-describedby="WarrantyDuration">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--Inventory & Remarks-->
        <section class="row pt-2 pb-3">
            <div class="col-6">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
						<h4 style="color: #223442;"><b>Inventory</b></h4>
                        <hr />
                    </div>

                    <!--Stock Quantity-->
                    <div class="row">
                        <span class="text-danger">@*@validationMessage*@</span>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="StockQuantity" id="StockQtyLabel">Stock Quantity</label>
                            <input @* @bind="product.StockQuantity" *@ type="number" class="form-control" aria-describedby="StockQtyLabel">
                        </div>
                    </div>
                    <!--Min. Stock Quantity-->
                    <div class="row">
                        <span class="text-danger">@*@validationMessage*@</span>
                        <div class="input-group mb-3">
                            <label class="input-group-text" for="MinQty" id="MinQtyLabel">Minimum Stock Level</label>
                            <input @* @bind="product.MinimumStockQuantity" *@ type="number" class="form-control" aria-describedby="MinQtyLabel">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="border p-3 container shadow">
                    <!--Title-->
                    <div class="row pb-2">
						<h4 style="color: #223442;"><b>Remarks</b></h4>
                        <hr />
                    </div>
                    <div class="input-group mb-3">
                        <textarea @* @bind="product.addNotes" *@ type="text" class="form-control" aria-label="Remarks"></textarea>
                    </div>
                </div>
            </div>
        </section>

        <!-- Back on top Button -->
        <div class="col-lg-2 col-sm-6 text-center mb-3 mb-sm-0 position-fixed" style="bottom: 20px; right: 20px;">
            <!-- Back Button -->
            <a href="#" class="btn btn-secondary rounded-circle">
                <i class="bi bi-arrow-up"></i>
            </a>
        </div>
    </form>

    <!--Modal-->
    <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmationModalLabel">Confirm Submission</h5>
                    <button type="button" class="close" id="cancelSubmitX" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to submit this form?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="cancelSubmit">Cancel</button>
                    <button type="button" class="btn btn-primary" id="confirmSubmit">Confirm</button>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/js/descriptionbox.js"></script>
<partial name="_ConfirmationModalScript" />
<partial name="_BarcodeScript" />

@code{

}