

<footer class="footer ">
	<section class="container my-auto p-4">
		<div class="row align-content-center">
			<div class="col-sm-12 col-lg-4 d-flex justify-content-lg-start justify-content-center align-items-center text-lg-start text-center">
				<img src="/image/footer.png" alt="ABC Logo" class="img-fluid w-75 h-auto" />
			</div>
			<div class="col-sm-6 col-lg-2 text-lg-start text-center">
				<h5 class="title mb-3">Quick Links</h5>
				<ul class="list-unstyled text-white text-lg-start text-center">
					<li class="nav-item mb-2">
						<NavLink class="nav-link" href="/">
							<span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
						</NavLink>
					</li>
					<li class="nav-item mb-2">
						<NavLink class="nav-link" href="About">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> About
						</NavLink>
					</li>
					<li class="nav-item mb-2">
						<NavLink class="nav-link" href="Vision">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Vision
						</NavLink>
					</li>
					<li class="nav-item mb-2">
						<NavLink class="nav-link" href="Shop">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shop
						</NavLink>
					</li>
					<li class="nav-item mb-2">
						<NavLink class="nav-link" href="Privacy">
							<span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Policies
						</NavLink>
					</li>
				</ul>
			</div>
			<div class="col-sm-6 col-lg-4 text-lg-start text-center">
				<h5 class="title mb-3">Store Details:</h5>
				<ul class="list-unstyled mb-0 text-white text-lg-start text-center">
					<li>
						<p>
							<i class="bi bi-geo-alt-fill"></i> : &nbsp; 3F, Virramall Greenhills Shopping Center, Ortigas Avenue, San Juan, Manila
						</p>
					</li>
					<li>
						<p><i class="bi bi-telephone-fill"></i> : &nbsp; (+63)917-309-8855</p>
					</li>
					<li>
						<p><i class="bi bi-envelope-fill"></i> : &nbsp; abcshopgreenhills@gmail.com</p>
					</li>
					<li>
						<p>
							<a href="https://www.facebook.com/abcshopgreenhills" target="_blank">
								<i class="bi bi-facebook fs-3 text-white"></i>
							</a>
						</p>
					</li>
				</ul>
			</div>
			<div class="col-sm-12 col-lg-2 text-lg-start text-center">
				<h5 class="title mb-3">Store hours</h5>
				<table class="table">
					<tr>
						<td class="bg-transparent border-0 text-white">Mon - Fri:</td>
						<td class="bg-transparent border-0 text-white">10am - 9pm</td>
					</tr>
					<tr>
						<td class="bg-transparent border-0 text-white">Sat - Sun:</td>
						<td class="bg-transparent border-0 text-white">10am - 9pm</td>
					</tr>
				</table>
			</div>
		</div>
	</section>
	<div class="copyright text-center p-3">
		© 2024 Copyright:
		<a style="color:#968C37;" href="#">Addsome Business Corporation</a>
	</div>
	<!-- Copyright -->
</footer>