/* _content/ABC.Client/Components/Account/Pages/ConfirmEmail.razor.rz.scp.css */
.FooterminHeight[b-1uoin2vwpe] {
    min-height: calc(100vh - 395px);
}

h1[b-1uoin2vwpe] {
    color: #223442;
    font-weight: bold;
    padding-bottom: 1em;
}

.btn[b-1uoin2vwpe] {
    background-color: #223442;
    color: white;
}

    .btn:hover[b-1uoin2vwpe] {
        background-color: #223442;
        color: white;
    }
/* _content/ABC.Client/Components/Account/Pages/ForgotPassword.razor.rz.scp.css */
.FooterminHeight[b-uw7yupx7rn] {
    min-height: calc(100vh - 395px);
}

h1[b-uw7yupx7rn] {
    color: #223442;
    font-weight: bold;
}

.btn[b-uw7yupx7rn] {
    background-color: #223442;
    color: white;
}

    .btn:hover[b-uw7yupx7rn] {
        background-color: #223442;
        color: white;
    }
/* _content/ABC.Client/Components/Account/Pages/Login.razor.rz.scp.css */
.container[b-ybemycwels] {
    margin-top: 4rem;
    margin-bottom: 4rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.login h1[b-ybemycwels] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}



.display[b-ybemycwels] {
    color: #ffffff;
    background-color: #223442;
}

    .display a[b-ybemycwels] {
        color: #ffffff;
    }

.btn[b-ybemycwels] {
    border-radius: 30px;
    background-color: white;
    color: #223442;
    border-color: #223442;
    font-weight: bold;
    margin-bottom: 1rem;
}

    .btn:hover[b-ybemycwels] {
        border-radius: 30px;
        background-color: #223442;
        color: white;
        font-weight: bold;
    }

/* _content/ABC.Client/Components/Account/Pages/Manage/ChangePassword.razor.rz.scp.css */
h2[b-lirclbo6uz] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-lirclbo6uz] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-lirclbo6uz] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/Email.razor.rz.scp.css */
h2[b-3iydc077k8] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-3iydc077k8] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-3iydc077k8] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/EnableAuthenticator.razor.rz.scp.css */
h2[b-fbogwf42ix] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-fbogwf42ix] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-fbogwf42ix] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/Index.razor.rz.scp.css */
.FooterminHeight[b-omyqmj5joh] {
    min-height: calc(100vh - 395px);
}

h2[b-omyqmj5joh] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-omyqmj5joh] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-omyqmj5joh] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/PersonalData.razor.rz.scp.css */
h2[b-cyx4ycq763] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.button-container[b-cyx4ycq763] {
    display: flex;
}

.btn[b-cyx4ycq763] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-cyx4ycq763] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }

.btn2[b-cyx4ycq763] {
    border-radius: 30px;
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
    font-weight: bold;
}

    .btn2:hover[b-cyx4ycq763] {
        border-radius: 30px;
        background-color: #ff0000;
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/ResetAuthenticator.razor.rz.scp.css */
h2[b-n9bzzmnkku] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-n9bzzmnkku] {
    border-radius: 30px;
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
    font-weight: bold;
}

    .btn:hover[b-n9bzzmnkku] {
        border-radius: 30px;
        background-color: #ff0000;
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Manage/TwoFactorAuthentication.razor.rz.scp.css */
h2[b-cz95ova2m6] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-cz95ova2m6] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-cz95ova2m6] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }

.btn2[b-cz95ova2m6] {
    border-radius: 30px;
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
    font-weight: bold;
}

    .btn2:hover[b-cz95ova2m6] {
        border-radius: 30px;
        background-color: #ff0000;
        color: white;
        font-weight: bold;
    }
/* _content/ABC.Client/Components/Account/Pages/Register.razor.rz.scp.css */
.card[b-vl6o3q8rpk] {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

h1[b-vl6o3q8rpk] {
    color: #223442;
    font-weight: bold;
}

.btn[b-vl6o3q8rpk] {
    border-radius: 30px;
    background-color: #223442;
    color: white;
    font-weight: bold;
    margin-bottom: 2rem;
    margin-top:1rem;
}

    .btn:hover[b-vl6o3q8rpk] {
        border-radius: 30px;
        background-color: white;
        color: #223442;
        border-color: #223442;
        font-weight: bold;
    }

.agreementText[b-vl6o3q8rpk] {
    font-size: 15px;
    text-align: center;
}
/* _content/ABC.Client/Components/Account/Pages/RegisterConfirmation.razor.rz.scp.css */
h1[b-nvhbmpqe2u] {
    color: #223442;
    font-weight: bold;
    padding-bottom: 1em;
}

.btn[b-nvhbmpqe2u] {
    background-color: #223442;
    color: white;
}

    .btn:hover[b-nvhbmpqe2u] {
        background-color: #223442;
        color: white;
    }
/* _content/ABC.Client/Components/Account/Pages/ResendEmailConfirmation.razor.rz.scp.css */
h1[b-bpdz4fwxlk] {
    color: #223442;
    font-weight: bold;
}

.btn[b-bpdz4fwxlk] {
    background-color: #223442;
    color: white;
}

    .btn:hover[b-bpdz4fwxlk] {
        background-color: #223442;
        color: white;
    }
/* _content/ABC.Client/Components/Account/Shared/ManageLayout.razor.rz.scp.css */
.FooterminHeight[b-xmidenax0r] {
    min-height: calc(100vh - 395px);
}

h1[b-xmidenax0r] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Layout/AdminNavMenu.razor.rz.scp.css */
body[b-qr389d4se9] {
}

li[b-qr389d4se9]{
    padding-bottom: 1vh;
}


/* _content/ABC.Client/Components/Layout/Footer.razor.rz.scp.css */
.footer[b-f6umzgygo0] {
    background-color: var(--maincolor-darkblue--);
}

.title[b-f6umzgygo0] {
    letter-spacing: 2px;
    color: #968C37;
    font-weight: bold;
}

.copyright[b-f6umzgygo0] {
    background-color: #1E2E3B;
    color: #968C37;
}


.stacked-spans[b-f6umzgygo0] {
    display: block;
}

@media (max-width: 768px) {
    .img-fluid[b-f6umzgygo0] {
        width: 50% !important;
        margin-bottom: 1em;
    }
}
/* _content/ABC.Client/Components/Layout/MainLayout.razor.rz.scp.css */
.page[b-zzg621eskd] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-zzg621eskd] {
    flex: 1;
}

.sidebar[b-zzg621eskd] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-zzg621eskd] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-zzg621eskd]  a, .top-row[b-zzg621eskd]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-zzg621eskd]  a:hover, .top-row[b-zzg621eskd]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-zzg621eskd]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-zzg621eskd] {
        justify-content: space-between;
    }

    .top-row[b-zzg621eskd]  a, .top-row[b-zzg621eskd]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-zzg621eskd] {
        flex-direction: row;
    }

    .sidebar[b-zzg621eskd] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-zzg621eskd] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-zzg621eskd]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-zzg621eskd], article[b-zzg621eskd] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-zzg621eskd] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-zzg621eskd] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/ABC.Client/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-yjra6v7av0] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-yjra6v7av0] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-yjra6v7av0] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-yjra6v7av0] {
    font-size: 1.1rem;
}

.bi[b-yjra6v7av0] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.bi-house-door-fill-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-house-door-fill' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5Z'/%3E%3C/svg%3E");
}

.bi-plus-square-fill-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-plus-square-fill' viewBox='0 0 16 16'%3E%3Cpath d='M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z'/%3E%3C/svg%3E");
}

.bi-list-nested-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M4.5 11.5A.5.5 0 0 1 5 11h10a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 3 7h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm-2-4A.5.5 0 0 1 1 3h10a.5.5 0 0 1 0 1H1a.5.5 0 0 1-.5-.5z'/%3E%3C/svg%3E");
}

.bi-lock-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-list-nested' viewBox='0 0 16 16'%3E%3Cpath d='M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z'/%3E%3C/svg%3E");
}

.bi-person-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person' viewBox='0 0 16 16'%3E%3Cpath d='M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z'/%3E%3C/svg%3E");
}

.bi-person-badge-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-badge' viewBox='0 0 16 16'%3E%3Cpath d='M6.5 2a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zM11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z'/%3E%3Cpath d='M4.5 0A2.5 2.5 0 0 0 2 2.5V14a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2.5A2.5 2.5 0 0 0 11.5 0h-7zM3 2.5A1.5 1.5 0 0 1 4.5 1h7A1.5 1.5 0 0 1 13 2.5v10.795a4.2 4.2 0 0 0-.776-.492C11.392 12.387 10.063 12 8 12s-3.392.387-4.224.803a4.2 4.2 0 0 0-.776.492V2.5z'/%3E%3C/svg%3E");
}

.bi-person-fill-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-person-fill' viewBox='0 0 16 16'%3E%3Cpath d='M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z'/%3E%3C/svg%3E");
}

.bi-arrow-bar-left-nav-menu[b-yjra6v7av0] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='white' class='bi bi-arrow-bar-left' viewBox='0 0 16 16'%3E%3Cpath d='M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z'/%3E%3C/svg%3E");
}

.nav-item[b-yjra6v7av0] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-yjra6v7av0] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-yjra6v7av0] {
        padding-bottom: 1rem;
    }

    .nav-item[b-yjra6v7av0]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-yjra6v7av0]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-yjra6v7av0]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-yjra6v7av0] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-yjra6v7av0] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-yjra6v7av0] {
        display: none;
    }

    .nav-scrollable[b-yjra6v7av0] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/ABC.Client/Components/Pages/Home/Home.razor.rz.scp.css */
.min-height[b-sykuksvrf0] {
    min-height: 33rem;
}

.banner[b-sykuksvrf0] {
    background-image: url('image/banner.png');
    background-position: bottom;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 6rem;
}

    .banner h1[b-sykuksvrf0], .banner p[b-sykuksvrf0] {
        color: white;
    }

.title[b-sykuksvrf0] {
    margin-top: 2rem;
}

.button[b-sykuksvrf0] {
    background-color: var(--maincolor-darkblue--);
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}

h1[b-sykuksvrf0], h2[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

h3[b-sykuksvrf0], p[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    text-align: center;
}

.min-height-section[b-sykuksvrf0] {
    min-height: 300px;
}

.productcard[b-sykuksvrf0] {
    width: 100%;
}

    .productcard:hover[b-sykuksvrf0] {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.card-title[b-sykuksvrf0] {
    color: var(--maincolor-darkblue--);
    font-weight: 700;
}

.card-img-overlay[b-sykuksvrf0] {
    background-color: #ffffff;
    border: none;
}

.card .btn-link[b-sykuksvrf0] {
    background-color: transparent;
    color: var(--maincolor-darkblue--);
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
/* _content/ABC.Client/Components/Pages/POS/POS.razor.rz.scp.css */
*:focus-visible[b-0328rmcmfi], .btn-group > .btn:focus-visible[b-0328rmcmfi]{
    outline: none !important;
    box-shadow: none !important;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/Audit_Log/AuditIndex.razor.rz.scp.css */
h1[b-6tf8yogqax] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/CustomerList/CustomerList.razor.rz.scp.css */
h1[b-wkwe3uu1zb] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/CustomerList/pdf/CustPDF.razor.rz.scp.css */
.contenedor[b-qf62biwkvb] {
    width: 900px !important;
    height: 842px !important;
    margin: auto;
}

body[b-qf62biwkvb] {
    font-family: Arial, Helvetica, sans-serif
}

p.title[b-qf62biwkvb] {
    font-weight: bold;
}

p.title2[b-qf62biwkvb] {
    font-weight: bold;
    color: #03A99F;
    font-size: 20px;
}

p.text[b-qf62biwkvb] {
    font-size: 15px;
    font-weight: 100;
    color: #858585;
}

p[b-qf62biwkvb] {
    margin: 0px
}

.tbth[b-qf62biwkvb] {
    text-align: left;
}

table.tbproductos[b-qf62biwkvb] {
    border-collapse: separate;
    border-spacing: 4px;
}

    table.tbproductos thead tr th[b-qf62biwkvb] {
        background-color: #03A99F;
        padding: 10px;
        font-size: 15px;
        color: white;
    }

    table.tbproductos tbody tr td[b-qf62biwkvb] {
        padding: 10px;
    }

.item[b-qf62biwkvb] {
    font-size: 15px;
    font-weight: 100;
    color: #757575;
}

.item-2[b-qf62biwkvb] {
    font-size: 15px;
    font-weight: bold;
    color: #757575;
}

.item-3[b-qf62biwkvb] {
    font-size: 15px;
    font-weight: bold;
    background-color: #03A99F;
    color: white;
}

.td-item[b-qf62biwkvb] {
    border-bottom: 2px solid #E8E8E8 !important;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/CustomerList/upsert/CustomerUpsert.razor.rz.scp.css */
h1[b-t4f4bu8kf7] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.breadcrumb[b-t4f4bu8kf7] {
    margin-bottom: 1rem;
}

.infoContainer[b-t4f4bu8kf7] {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    .infoContainer .subContainer[b-t4f4bu8kf7] {
        border: 1px solid lightgrey;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

        .infoContainer .subContainer .tableTable[b-t4f4bu8kf7]{
            margin-left: 1rem;
            margin-right: 1rem;
        }
/* _content/ABC.Client/Components/Pages/SalesInventory/Dashboard/Dashboard.razor.rz.scp.css */
/* Styles for the small box */
.small-box[b-pbwuegy2gx] {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    display: block;
    margin-bottom: 5px;
    position: relative;
}

    .small-box .inner[b-pbwuegy2gx] {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 10px;
        padding-left: 1rem;
        font-size: 15px;
        color: white;
        font-weight: bold;
    }

    .small-box .small-box-footer[b-pbwuegy2gx] {
        background-color: rgba(0, 0, 0, 0.1);
        color: white;
        display: block;
        padding: 3px 0;
        position: relative;
        text-align: center;
    }

.small-text[b-pbwuegy2gx] {
    font-size: 15px;
    font-style: normal;
}

.chart1[b-pbwuegy2gx] {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
}

.salesbox[b-pbwuegy2gx] {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
}

    .salesbox p[b-pbwuegy2gx] {
        font-size: 15px;
        color: grey;
    }
/* _content/ABC.Client/Components/Pages/SalesInventory/EmployeesList/EmployeesList.razor.rz.scp.css */
h1[b-zww930wf4b] {
    color: #223442;
    text-align: left;
    margin-bottom: 2rem;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/InventoryReport/InventoryReport.razor.rz.scp.css */
.smallbox[b-fqgc8b3tws] {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
}

    .smallbox p[b-fqgc8b3tws] {
        font-size: 15px;
        color: grey;
    }

.minHeight[b-fqgc8b3tws] {
    min-height: calc(100vh - 395px);
}
/* _content/ABC.Client/Components/Pages/SalesInventory/OnlineCustomers/OnlineCusstomersList.razor.rz.scp.css */
h1[b-5nvj9qin1v] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/OnlineCustomers/OnlineCustomerDetails.razor.rz.scp.css */
h1[b-bstf8sitbd] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.breadcrumb[b-bstf8sitbd] {
    margin-bottom: 1rem;
}

.infoContainer[b-bstf8sitbd] {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

    .infoContainer .subContainer[b-bstf8sitbd] {
        border: 1px solid lightgrey;
        padding: 1rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }

        .infoContainer .subContainer .tableTable[b-bstf8sitbd] {
            margin-left: 1rem;
            margin-right: 1rem;
        }
/* _content/ABC.Client/Components/Pages/SalesInventory/OrderPage/details/Details.razor.rz.scp.css */
h1[b-el5ooadvg4] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.title[b-el5ooadvg4]{
    text-align: left;
}

.badgeStatus[b-el5ooadvg4] {
    text-align: right;
}

.container[b-el5ooadvg4] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .container h3[b-el5ooadvg4] {
        color: var(--maincolor-darkblue--);
        font-weight: bold;
        margin-bottom: 1em;
    }
/* _content/ABC.Client/Components/Pages/SalesInventory/OrderPage/Order.razor.rz.scp.css */
h1[b-kypp7ura0k] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.title[b-kypp7ura0k] {
    text-align: left;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/ProductPage/pdf/ProductPDF.razor.rz.scp.css */
.contenedor[b-4k1cqo1vpc] {
    width: 900px !important;
    height: 842px !important;
    margin: auto;
}

body[b-4k1cqo1vpc] {
    font-family: Arial, Helvetica, sans-serif
}

p.title[b-4k1cqo1vpc] {
    font-weight: bold;
}

p.title2[b-4k1cqo1vpc] {
    font-weight: bold;
    color: #03A99F;
    font-size: 20px;
}

p.text[b-4k1cqo1vpc] {
    font-size: 15px;
    font-weight: 100;
    color: #858585;
}

p[b-4k1cqo1vpc] {
    margin: 0px
}

.tbth[b-4k1cqo1vpc] {
    text-align: left;
}

table.tbproductos[b-4k1cqo1vpc] {
    border-collapse: separate;
    border-spacing: 4px;
}

    table.tbproductos thead tr th[b-4k1cqo1vpc] {
        background-color: #03A99F;
        padding: 10px;
        font-size: 15px;
        color: white;
    }

    table.tbproductos tbody tr td[b-4k1cqo1vpc] {
        padding: 10px;
    }

.item[b-4k1cqo1vpc] {
    font-size: 15px;
    font-weight: 100;
    color: #757575;
}

.item-2[b-4k1cqo1vpc] {
    font-size: 15px;
    font-weight: bold;
    color: #757575;
}

.item-3[b-4k1cqo1vpc] {
    font-size: 15px;
    font-weight: bold;
    background-color: #03A99F;
    color: white;
}

.td-item[b-4k1cqo1vpc] {
    border-bottom: 2px solid #E8E8E8 !important;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/PurchaseOrdersPage/PO-Upsert.razor.rz.scp.css */
body[b-wileneyido] {
}
/* _content/ABC.Client/Components/Pages/SalesInventory/PurchaseOrdersPage/PurchaseOrderList.razor.rz.scp.css */
h1[b-fhoqonv8wf] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/SalesRecord/component/SalesDetails.razor.rz.scp.css */
h1[b-6d3qvnedg8] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.title[b-6d3qvnedg8] {
    text-align: left;
}

.badgeStatus[b-6d3qvnedg8] {
    text-align: right;
}

.container[b-6d3qvnedg8] {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

    .container h3[b-6d3qvnedg8] {
        color: var(--maincolor-darkblue--);
        font-weight: bold;
        margin-bottom: 1em;
    }
/* _content/ABC.Client/Components/Pages/SalesInventory/SalesRecord/SalesRecord.razor.rz.scp.css */
h1[b-tn8537sk6m] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.title[b-tn8537sk6m] {
    text-align: left;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/SalesReport/SalesReport.razor.rz.scp.css */
.smallbox[b-1dzgk5o7pc] {
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 2px;
    border: 1px solid #E6E6E6;
}

    .smallbox p[b-1dzgk5o7pc] {
        font-size: 15px;
        color: grey;
    }

.minHeight[b-1dzgk5o7pc] {
    min-height: calc(100vh - 395px);
}
/* _content/ABC.Client/Components/Pages/SalesInventory/Settings/General/DeliveryFeeUpsert.razor.rz.scp.css */
body[b-7t1gpzvfdb] {
}
/* _content/ABC.Client/Components/Pages/SalesInventory/Settings/General/GeneralSettings.razor.rz.scp.css */
h2[b-6i255bda8o] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.container[b-6i255bda8o] {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid lightgrey;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

    .container .subContainer[b-6i255bda8o] {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }
/* _content/ABC.Client/Components/Pages/SalesInventory/Settings/General/StoreUpsert.razor.rz.scp.css */
body[b-beram99j2a] {
}
/* _content/ABC.Client/Components/Pages/SalesInventory/Settings/WebsiteSettings.razor.rz.scp.css */
.container[b-81ggwrfh2p] {
    margin-top: 1rem;
    margin-bottom: 4rem;
}

h1[b-81ggwrfh2p] {
    color: var(--maincolor-darkblue--);
    text-align: left;
    margin-bottom: 1rem;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/StockTransfers/StockTransferForm.razor.rz.scp.css */
/* _content/ABC.Client/Components/Pages/SalesInventory/StockTransfers/StockTransferList.razor.rz.scp.css */
h1[b-1e6rw2hr61] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/SuppliersList/SupplierIndex.razor.rz.scp.css */
h1[b-o0spbmpxeb] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/SalesInventory/SuppliersList/upsert/SupplierUpsert.razor.rz.scp.css */
h1[b-rxerx8nhja] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Cart/CartIndex.razor.rz.scp.css */
.FooterminHeight[b-615v452lfm] {
    min-height: calc(100vh - 395px);
}

h1[b-615v452lfm] {
    color: #223442;
    font-weight: bold;
}

.card[b-615v452lfm] {
    min-height: 500px;
    margin-bottom: 4rem;
}



/* _content/ABC.Client/Components/Pages/ShopWeb/Cart/OrderCheckout/Summary.razor.rz.scp.css */
.FooterminHeight[b-9tc73xcj0n] {
    min-height: calc(100vh - 395px);
}

h1[b-9tc73xcj0n], h3[b-9tc73xcj0n] {
    color: #223442;
    font-weight: bold;
}

.card[b-9tc73xcj0n] {
    min-height: 500px;
    margin-bottom: 4rem;
}

.Placebtn[b-9tc73xcj0n] {
    background-color: green;
    color: #ffff;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: center;
    text-decoration: none;
}

.agreementText[b-9tc73xcj0n] {
    font-size: 14px;
    text-align: center;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Cart/OrderConfirmation/OrderConfirmation.razor.rz.scp.css */
.FooterminHeight[b-eij6qs0eqp] {
    min-height: calc(100vh - 395px);
}

h1[b-eij6qs0eqp] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Cart/Summary/Summary.razor.rz.scp.css */
.FooterminHeight[b-5f6cfgyiqx] {
    min-height: calc(100vh - 395px);
}

h1[b-5f6cfgyiqx], h3[b-5f6cfgyiqx] {
    color: #223442;
    font-weight: bold;
}

.card[b-5f6cfgyiqx] {
    min-height: 500px;
    margin-bottom: 4rem;
}

.Placebtn[b-5f6cfgyiqx] {
    background-color: green;
    color: #ffff;
    font-weight: bold;
    font-size: 25px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Home/About.razor.rz.scp.css */
.FooterminHeight[b-tjnp7by05v] {
    min-height: calc(100vh - 395px);
}

h1[b-tjnp7by05v] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Home/Details.razor.rz.scp.css */
.FooterminHeight[b-8h215m78rq] {
    min-height: calc(100vh - 395px);
}

.main[b-8h215m78rq] {
    margin-top: 1rem;
    margin-bottom: 5rem;
}

.product[b-8h215m78rq] {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

h2[b-8h215m78rq], h6[b-8h215m78rq], span[b-8h215m78rq] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Home/Privacy.razor.rz.scp.css */
.FooterminHeight[b-t3ne54zv1n] {
    min-height: calc(100vh - 395px);
}

h1[b-t3ne54zv1n] {
    color: #223442;
    font-weight: bold;
}

.row[b-t3ne54zv1n]{
    margin-top: 1rem;
    margin-bottom: 2rem;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/Home/Shop.razor.rz.scp.css */
.FooterminHeight[b-mzk551kdqx] {
    min-height: calc(100vh - 395px);
}

h3[b-mzk551kdqx], p[b-mzk551kdqx] {
    color: var(--maincolor-darkblue--);
    text-align: center;
}

.card[b-mzk551kdqx] {
    width: 100%;
}

    .card:hover[b-mzk551kdqx] {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-5px);
    }

.btn[b-mzk551kdqx] {
    background-color: var(--maincolor-darkblue--);
    color: #ffffff;
}

    .btn:hover[b-mzk551kdqx] {
        background-color: var(--maincolor-darkblue--);
        color: #ffffff;
    }

/* _content/ABC.Client/Components/Pages/ShopWeb/Home/Vision.razor.rz.scp.css */
.FooterminHeight[b-lfgpc7akjx] {
    min-height: calc(100vh - 395px);
}

h1[b-lfgpc7akjx] {
    color: #223442;
    font-weight: bold;
}
/* _content/ABC.Client/Components/Pages/ShopWeb/ManageOrderPage/ManageOrder.razor.rz.scp.css */
.FooterminHeight[b-hrpia9umku] {
    min-height: calc(130vh - 395px);
}

h1[b-hrpia9umku] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}
/* _content/ABC.Client/Components/SharedComponents/BrandLogo.razor.rz.scp.css */
.img-css[b-2ct0qe7vr1]{
    max-width: 8rem;
}
