h2[b-6i255bda8o] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.container[b-6i255bda8o] {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid lightgrey;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

    .container .subContainer[b-6i255bda8o] {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 2rem;
    }