h2 {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn {
    border-radius: 30px;
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
    font-weight: bold;
}

    .btn:hover {
        border-radius: 30px;
        background-color: #ff0000;
        color: white;
        font-weight: bold;
    }
