@using ABC.Shared.Models
@page "/ProductList"

<div class="container pt-2 pb-5">
    <div class="row pb-4">
        <!-- Title -->
        <div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
            <h1 style="color: #223442;"><b>Product List</b></h1>
        </div>

        <!-- Dropdown Button -->
        <div class="col-lg-2 col-sm-4 text-end mb-3 mb-sm-0">
            <div class="dropdown d-flex justify-content-end">
                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
                    <i class="bi bi-plus-lg"></i> Add
                </a>

                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <li><a class="dropdown-item" href="Upsert">Product</a></li>
                    <li>
                        <a class="dropdown-item" href="CategoryIndex">Category</a>
                    </li>
                </ul>
            </div>
        </div>


        <!-- Export Button -->
        <div class="col-lg-2 col-sm-4 text-end mb-3 mb-sm-0">
            <a href="#" class="btn btn-success" id="btngenerate">
                <i class="bi bi-box-arrow-up"></i> Export
            </a>
        </div>
    </div>

    <table id="tblData" class="table table-bordered table-striped table-hover " action="width:100%">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Barcode</th>
                <th>Cost Price</th>
                <th>Retail Price</th>
                <th>Stock Qty</th>
                <th>Supplier</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="/js/product.js"></script>

@code{
    
}