@using ABC.Shared.Models
@page "/OrderConfirmation"

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Order Placed Successfully!</h1>
		Your Order Number is: @*@Model*@ <br /><br/>
		<img src="~/image/lawn_leaf.jpg" style="max-width: 200px;" />
	</div>

	<div class="col-12 text-center text-success">
		<br/>
		Your Order has been sent successfully! <br/>
	</div>
</div>
