@using ABC.Shared.Models
@using Layout
@page "/OnlineCustomerDetail"
@layout AdminLayout

@rendermode InteractiveServer

<PageTitle>ABC - Online Customer Details</PageTitle>

<section class="container">
	<InputText @bind-Value="onlineCustId" hidden />

	<!--Customer Header-->
	<div class="row pt-2 pb-1" id="topbar">
		<!-- Title -->
		<div class="col-lg-8 col-sm-12 text-start mb-3 mb-sm-0">
			<h1>Customer Details</h1>
		</div>
	</div>

	<!--Breadcrumb-->
	<div class="breadcrumb row">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="OnlineCustomers">Online Customers</a></li>
				<li class="breadcrumb-item active" aria-current="page">Details</li>
			</ol>
		</nav>
	</div>

	<div class="infoContainer row">
		<div class="col-12">
			<div class="subContainer">
				<div class="row">
					<h4>Customer's Information</h4>
					<hr />
				</div>

				<div class="row">
					<div class="col-6">
						<div class="input-group mb-3">
							<label class="input-group-text" id="firstName">First Name</label>
							<input @bind-value="SelectedCustomer.FirstName" type="text" class="form-control" id="firstName" aria-describedby="firstName" disabled>
						</div>
					</div>
					<div class="col-6">
						<div class="input-group mb-3">
							<label class="input-group-text" id="lastName">Last Name</label>
							<input @bind-value="SelectedCustomer.LastName" type="text" class="form-control" id="lastName" aria-describedby="lastName" disabled>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-6">
						<div class="input-group mb-3">
							<label class="input-group-text" id="contactNumber">Contact Number</label>
							<input @bind-value="SelectedCustomer.PhoneNumber" type="text" class="form-control" id="contactNumber" aria-describedby="Contact Number" disabled>
						</div>
					</div>
					<div class="col-6">
						<div class="input-group mb-3">
							<label class="input-group-text" id="emailAddress">Email Address</label>
							<input @bind-value="SelectedCustomer.Email" type="text" class="form-control" id="emailAddress" aria-describedby="Email Address" disabled>
						</div>
					</div>
				</div>

				<!--Address-->
				<div class="row pt-4 pb-3">
					<div class="col-12">
						<div class="border p-3 container">
							<div class="row">
								<h6>Customer's Billing Address</h6>
								<hr />
							</div>
							<div class="row">
								<div class="col-4">
									<div class="input-group mb-3">
										<label class="input-group-text" id="AddressLine">Address Line</label>
										<input @bind-value="SelectedCustomer.Address" type="text" class="form-control" id="AddressLine" aria-describedby="AddressLine" disabled>
									</div>
								</div>
								<div class="col-4">
									<div class="input-group mb-3">
										<label class="input-group-text" id="city">City</label>
										<input @bind-value="SelectedCustomer.City" type="text" class="form-control" id="city" aria-describedby="City" disabled>
									</div>
								</div>
								<div class="col-4">
									<div class="input-group mb-3">
										<label class="input-group-text" id="province">Province</label>
										<input @bind-value="SelectedCustomer.Province" type="text" class="form-control" id="province" aria-describedby="Province" disabled>
									</div>
								</div>
								<div class="col-4">
									<div class="input-group mb-3">
										<label class="input-group-text" id="PostalCode">PostalCode</label>
										<input @bind-value="SelectedCustomer.PostalCode" type="text" class="form-control" id="PostalCode" aria-describedby="PostalCode" disabled>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="infoContainer row">
		<div class="col-12">
			<div class="subContainer">
				<div class="row">
					<h4>Transactions</h4>
					<hr />
				</div>

				<div class="tableTable row">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Receipt #</th>
								<th>Amount Paid</th>
								<th>Payment Mode</th>
								<th>Sales Type</th>
								<th>Sales Person</th>
								<th>Sales Date</th>
								<th>Status</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"> - </th>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
								<td><i class="bi bi-eye-fill text-primary" data-bs-toggle="modal" data-bs-target="#viewModal"></i></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- View Modal -->
	<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="viewModalLabel">Transaction Details</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					...
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</section>