.FooterminHeight[b-615v452lfm] {
    min-height: calc(100vh - 395px);
}

h1[b-615v452lfm] {
    color: #223442;
    font-weight: bold;
}

.card[b-615v452lfm] {
    min-height: 500px;
    margin-bottom: 4rem;
}

.btn[b-615v452lfm] {
    background-color: #249e49;
    font-size: 25px;
    font-weight: bold;
}

    .btn:hover[b-615v452lfm] {
        background-color: #249e49;
        font-size: 25px;
        font-weight: bold;
    }
