h2[b-lirclbo6uz] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.btn[b-lirclbo6uz] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-lirclbo6uz] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }
