h2[b-cyx4ycq763] {
    color: var(--maincolor-darkblue--);
    font-weight: bold;
}

.button-container[b-cyx4ycq763] {
    display: flex;
}

.btn[b-cyx4ycq763] {
    border-radius: 30px;
    background-color: white;
    color: var(--maincolor-darkblue--);
    border-color: var(--maincolor-darkblue--);
    font-weight: bold;
}

    .btn:hover[b-cyx4ycq763] {
        border-radius: 30px;
        background-color: var(--maincolor-darkblue--);
        color: white;
        font-weight: bold;
    }

.btn2[b-cyx4ycq763] {
    border-radius: 30px;
    background-color: white;
    color: #ff0000;
    border-color: #ff0000;
    font-weight: bold;
}

    .btn2:hover[b-cyx4ycq763] {
        border-radius: 30px;
        background-color: #ff0000;
        color: white;
        font-weight: bold;
    }