.contenedor[b-0qugyolu5f] {
    width: 900px !important;
    height: 842px !important;
    margin: auto;
}

body[b-0qugyolu5f] {
    font-family: Arial, Helvetica, sans-serif
}

p.title[b-0qugyolu5f] {
    font-weight: bold;
}

p.title2[b-0qugyolu5f] {
    font-weight: bold;
    color: #03A99F;
    font-size: 20px;
}

p.text[b-0qugyolu5f] {
    font-size: 15px;
    font-weight: 100;
    color: #858585;
}

p[b-0qugyolu5f] {
    margin: 0px
}

.tbth[b-0qugyolu5f] {
    text-align: left;
}

table.tbproductos[b-0qugyolu5f] {
    border-collapse: separate;
    border-spacing: 4px;
}

    table.tbproductos thead tr th[b-0qugyolu5f] {
        background-color: #03A99F;
        padding: 10px;
        font-size: 15px;
        color: white;
    }

    table.tbproductos tbody tr td[b-0qugyolu5f] {
        padding: 10px;
    }

.item[b-0qugyolu5f] {
    font-size: 15px;
    font-weight: 100;
    color: #757575;
}

.item-2[b-0qugyolu5f] {
    font-size: 15px;
    font-weight: bold;
    color: #757575;
}

.item-3[b-0qugyolu5f] {
    font-size: 15px;
    font-weight: bold;
    background-color: #03A99F;
    color: white;
}

.td-item[b-0qugyolu5f] {
    border-bottom: 2px solid #E8E8E8 !important;
}
