@using ABC.Shared.Models
@page "/OrderConfirmation"

<PageTitle>ABC - Order Confirmation</PageTitle>

<section class="container mt-3 mb-5 d-flex flex-column align-items-center justify-content-center text-center FooterminHeight">
	<div class="title mb-5">
		<h1>Order Placed Successfully!</h1>
		<p>Thank you for shopping with us!</p>

	</div>
	<div class="row">
		<span>Your Order Number is:</span>
		<h2 class="text-success">@*@Model*@ try</h2>
	</div>
</section>
